<br>
<div class="pricing-header mx-auto">
    <div class="table-responsive" *ngIf="hideWhenNoUsers" id="htmlData">
        <table
            class="table table-hover table-bordered table-responsive-sm table-responsive-md table-responsive-lg caption-top">
            <thead class="table-dark">
                <tr class="tr_table">
                    <th class="nome_tr">KEY/ID</th>
                    <th class="nome_tr text-center">NOME</th>
                    <th class="nome_tr text-center">E-MAIL</th>
                    <th class="nome_tr text-center">TELEFONE</th>
                    <th class="nome_tr text-center">FUNÇÃO</th>
                    <th class="nome_tr text-center">AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of User | paginate : { itemsPerPage: 10  , currentPage: p }; let i = index">
                    <th scope="row">{{ user.$key }}</th>
                    <td>{{ user.nome }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.telefone | telefone}}</td>
                    <td>{{ user.funcao }}</td>
                    <td class="text-center action-block table-warning">

                        <button mat-mini-fab color="primary" routerLink="/edit-users/{{ user.$key }}"
                            class="mat_button2" matTooltip="EDITAR">
                            <i class="material-icons" style="color: #ffffff">edit</i> </button>

                        <button mat-mini-fab class="mat_button3" matTooltip="IMPRIMIR">
                            <i class="material-icons" style="color: #ffffff">print</i> </button>

                        <button mat-mini-fab color="warn" (click)="deleteUser(user)" class="mat_button2"
                            matTooltip="DELETAR">
                            <i class="material-icons" style="color: #ffffff">delete</i> </button>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center;">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
            nextLabel="Próxima"></pagination-controls>
    </div>
</div>