.mat_button2 {
    margin: 2px 2px 2px 2px ;
}

.tr_table{
    background-color: #5264c9;
}

.nome_tr{
    color: white
}

.card_users_title{
    margin: 10px;
}

td{
    padding: 0.1px;
}

.mat_button3{
    background-color: #212529;
}