.button_reset_form{
    margin: 5px 5px 5px 5px;
}

.button_submit_form{
    margin: 5px 5px 5px 5px;
}

.card_title_form_users{
    margin: 8px;
}

.button_return_form{
    background-color: #3f474f80;

<<<<<<< HEAD
}

.card_title_orders_users{
    margin: 5px 5px 5px 5px;
}

.material-icons {
    margin: 3px;
=======
>>>>>>> d3f1f4f3fb7b35e762131298bc1ad545b27402e8
}