.button_reset_form{
    margin: 5px 5px 5px 5px;
}

.button_submit_form{
    margin: 5px 5px 5px 5px;
}

.card_title_form_users{
    margin: 8px;
}

.button_return_form{
    background-color: #3f474f80;

}