.table_print_courses {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.button_users_crud{
    background-color: #212529;
}
