.button_users_crud{
    margin: 8px;
    background-color: #212529;
}

.card_title_form_services{
    margin: 5px 5px 5px 5px;
}

.card_crud_services{
    margin: 5px 5px 5px 5px;
<<<<<<< HEAD
}

.mat_card_services_component{
    margin: 5px 5px 5px 5px;

=======
>>>>>>> d3f1f4f3fb7b35e762131298bc1ad545b27402e8
}