footer {
    position: fixed;
    bottom: 0;
    background-color: #212529;
    color: #FFF;
    width: 100%;
<<<<<<< HEAD
    height: 7%;
=======
    height: 8%;
>>>>>>> d3f1f4f3fb7b35e762131298bc1ad545b27402e8
    left: 0px;
    text-align: center;
    line-height: 50px;
    font-size: medium;
}

.v-middle{
    color: red;
}