<br>

<mat-tab-group>
    <mat-tab label="Boas Vindas">
        <br>
        <mat-card>
            <mat-card-title>Bem Vindo ao Sig Plus Software</mat-card-title>
            <mat-card-content>
                <p>O mais novo aliado na gestão dos setores e no dia-a-dia da Proseg Assessoria e Treinamentos</p>
                <p>Junto com ele temos a seguintes funções:</p>
                <ul>
                    <li>Agenda Eletrônica - Com Emissão de Lista de Presença e Certificado;</li>
                    <li>Gestão de Entrada e Saída de Equipamentos da Proseg;</li>
                    <li>Gestão e Consulta dos Treinamentos disponíveis na empresa;</li>
                    <li>Lançamento de DS (Diálogo de Segurança) para os clientes da Proseg;</li>
                    <li>Controles Internos Diversos como usuários, orçamentos, contratos, biblioteca, etc...</li>
                </ul>
            </mat-card-content>

        </mat-card>
    </mat-tab>
    <mat-tab label="Quadro de Avisos">
        <app-clients-list></app-clients-list>
    </mat-tab>
</mat-tab-group>

<br>
<br>
<br>

<mat-divider></mat-divider>

<mat-stepper linear #stepper>
    <!-- #docregion editable -->
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <!-- #enddocregion editable -->
        <form [formGroup]="firstFormGroup">
            <!-- #docregion step-label -->
            <ng-template matStepLabel>Responsável</ng-template>
            <!-- #enddocregion step-label -->
            <mat-form-field appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="firstCtrl" placeholder="Ex: Usuário Teste" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Tipo de Serviço</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Tipo</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex: Doc, Treinamento, etc..." required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Anterior</button>
                <button mat-button matStepperNext>Próximo</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Finalização</ng-template>
        <div>
            <button mat-button matStepperPrevious>Anterior</button>
            <button mat-raised-button color="warn" (click)="alertMsg()">Finalizar</button>
        </div>
    </mat-step>
</mat-stepper>

<mat-divider></mat-divider>
