<div class="mat-elevation-z8">
    <mat-card class="card_crud_clients">
        <mat-card-title class="card_title_form_clients"><strong>ADICIONAR NOVO CLIENTE</strong></mat-card-title>
        <mat-card-content>
            <form [formGroup]="clientForm" (ngSubmit)="submitClientsData()">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12" class="div_teste">

                        <mat-tab-group class="mat-elevation-z8">

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons" style="color: #000000;">save</i>
                                    Dados Básicos
                                </ng-template>

                                <div class="tab_dados_básicos">
                                    <div class="col-md-12 mb-3" class="teste">
                                        <label><strong>Nome</strong></label>
                                        <input type="text" formControlName="nome" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label><strong>CNPJ</strong></label>
                                        <input type="text" formControlName="cnpj" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label><strong>Responsável Pela Empresa</strong></label>
                                        <input type="text" formControlName="responsavel_empresa" class="form-control"
                                        >
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Responsável na Proseg</label>
                                        <select class="form-select" formControlName="responsavel_proseg"
                                            aria-label="Default select example">
                                            <option value="{{Users.nome}}" *ngFor="let Users of User">{{Users.nome}}
                                        </select>
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Telefone Fixo</label>
                                        <input type="text" formControlName="telefone_fixo" class="form-control"
                                        >
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Telefone Celular | Principal</label>
                                        <input type="text" formControlName="telefone1" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Telefone Celular | Secundário</label>
                                        <input type="text" formControlName="telefone2" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>E-mail</label>
                                        <input type="text" formControlName="email" class="form-control">
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons" style="color: #000000;">description</i>
                                    Dados Específicos
                                </ng-template>

                                <div class="tab_dados_especificos">
                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>É cliente Mensal?</label>
                                        <input type="text" formControlName="mensal" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Periodicidade das Visitas:</label>
                                        <input type="text" formControlName="periodicidade_visitas" class="form-control"
                                        >
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Tipo de atendimento:</label>
                                        <input type="text" formControlName="item_contrato" class="form-control"
                                        >
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Validade de Procuração do E-social</label>
                                        <input type="text" formControlName="validade_proc_esocial" class="form-control"
                                        >
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Vigência do PGR</label>
                                        <input type="text" formControlName="vigencia_pgr" class="form-control"
                                        >
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Validade da ART</label>
                                        <input type="text" formControlName="validade_art" class="form-control"
                                        >
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <i class="material-icons" style="color: #000000;">groups</i>
                                    Dados de Endereço
                                </ng-template>

                                <div class="tab_dados_endereco">
                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>CEP</label>
                                        <input type="text" formControlName="cep" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Bairro</label>
                                        <input type="text" formControlName="bairro" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Logradouro</label>
                                        <input type="text" formControlName="logradouro" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Número</label>
                                        <input type="text" formControlName="numero" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Cidade</label>
                                        <input type="text" formControlName="cidade" class="form-control">
                                    </div>

                                    <div class="col-md-12 mb-3" class="teste">
                                        <label>Estado</label>
                                        <input type="text" formControlName="uf" class="form-control">
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>

                        <br>
                        <button mat-raised-button color="primary" type="submit" class="button_submit_form">
                            <i class="material-icons" style="color: #fffefe;  margin: 3px 3px 3px 3px;">contact_mail</i>

                            Adicionar Cliente
                        </button>

                        <button mat-raised-button color="warn" type="button" (click)="resetForm()"
                            class="button_reset_form">
                            <i class="material-icons" style="color: #fffefe;  margin: 3px 3px 3px 3px;">restart_alt</i>
                            Resetar Formulários</button>

                        <button mat-raised-button type="button" class="button_return_form" routerLink="/users">
                            <i class="material-icons" style="color: #000000;  margin: 3px 3px 3px 3px;">chevron_left</i>
                            Voltar</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>